<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.mapper.RequestMapper">
	<insert id="insert" parameterType="request">
		INSERT INTO
		REQUEST VALUES
		(REQ_NO_SEQ.nextval,#{rnumber},#{site},#{jod},#{qualify},#{period},#{form},#{term},#{wperiod},#{jstart},#{pay},#{area},#{userID})
	</insert>
	<!-- request list-->
	<select id="selectall" resultType="request">
		SELECT * FROM REQUEST
	</select>
	<!-- my request list-->
	<select id="selectonly" parameterType="request"
		resultType="request">
		SELECT * FROM REQUEST WHERE USERID=#{userID}
	</select>
	<!-- one request -->
	<select id="oselect" parameterType="request"
		resultType="request">
		SELECT * FROM REQUEST WHERE REQUESTNO=#{requestNO}
	</select>
	
</mapper>